<div data-ng-controller="ChampionsController">
  <div class="champion-header">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <h1><%= I18n.t('title') %></h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">

      <div class="panel panel-default margin-panel">
        <!-- Default panel contents -->
        <div class="panel-heading">List</div>

        <!-- Table -->
        <table class="table">
          <thead>
          <tr>

            <th><%= I18n.t('champion_attributes.name') %></th>
            <th><%= I18n.t('champion_attributes.title') %></th>
            <th><%= I18n.t('champion_attributes.actions') %></th>
            <th></th>
          </tr>
          </thead>

          <tbody>
          <tr class="news-list" data-ng-repeat="champion in champions" data-ng-cloak>

            <td>{{champion.name}}</td>
            <td>{{champion.title}}</td>
            <td></td>
            <td><ul>

              <li title="Editar" rel="tooltip" class="inline icon edit_member_link ">
                <a class="" data-ng-click="championDetail(champion.name)" style="cursor: pointer;" data-toggle="modal" data-target="#championModal">
                  <i class="glyphicon glyphicon-search"></i>
                </a>
              </li>
            </ul></td>
            <td></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="championModal" tabindex="-1">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel"><%= I18n.t('recommended_items') %></h4>
        </div>
        <div class="modal-body">
          <div>
            <lavel><%= I18n.t('champion_attributes.entity') %></lavel>
            {{choseChampion.name}}
          </div>
          <hr>
          <div data-ng-repeat="item in recommendedItems">
            <p>{{item.name}}</p>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

