<!DOCTYPE html>
<html>
<head>
  <title>LOL Champions</title>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700">
  <%= stylesheet_link_tag  "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>


<header class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Menu</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="/" class="navbar-brand" title="GoldGroup"><%= I18n.t('logo') %></a>
  </div>
  <div class="flags_bo">
    <ul id="language-menu">
      <li>
        <a href="/home/set_user_locale?locale=pt"><img src="<%= asset_path('pt.svg') %>" data-turbolinks="false" class="pt" title="Mudar idioma para português"></a>
      </li>
      <li>
        <a href="/home/set_user_locale?locale=en"><img src="<%= asset_path('us.svg') %>" data-turbolinks="false" class="us" title="Change language to english"></a>
      </li>
    </ul>
  </div>
</header>
<aside class="sidebar col-md-2">
  <nav id="sidebar-menu" role="complementary">
    <ul>
      <li class="active">
        <a href="/" title="Home"><i class="glyphicon glyphicon-home"></i><span><%= I18n.t('list') %></span></a>
      </li>

    </ul>
  </nav>

</aside>

<div class="content col-md-10">

  <%= yield %>
</div>



<%= javascript_include_tag "application", "data-turbolinks-eval" => false %>
</body>
</html>
